* {
  background-color: #90caf9;
  font-family: 'Asap', sans-serif;
}


#imagen {
  padding-top: 5%;
  /*border: 3px solid black;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#text {
  text-align: center;
}
