* {
  background-color: #90caf9;
  font-family: 'Asap', sans-serif;
}


#imagen {
  padding-top: 5%;
  /*border: 3px solid black;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#text {
  text-align: center;
}


#pib {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#chartdiv {background: #3f3f4f;color:#ffffff;
	width	: 100%;
	height	: 500px;
}								
